html {
  scroll-behavior: smooth;
}
body {
  background-color: #0a0b1e;
}

nav {
  width: 90%;
  position: sticky;
  top: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background-color: #161933;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  box-shadow: 0px 8px 50px -10px rgb(26, 25, 27);
}
nav h2 {
  margin: 0;
  padding: 5px;
  color: #c9fcfd;
}

nav h2 a {
  text-decoration: none;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 3px;
}
nav ul li {
  transition: 0.5s;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  background-color: darkblue;
  padding: 5px;
  border-radius: 20px;
}
nav ul li a:hover {
  color: grey;
}
@media (min-width: 768px) {
  nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav h2 {
    margin: 18.72px;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: large;
    gap: 50px;
  }
  nav ul li:hover {
    background-color: darkblue;
    border-radius: 20px;
    padding: 10px;
  }
}
.hero-words {
  color: #b3b8db;
  width: 70%;
}
.wth-cont {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -150px;
}
.hero-words span {
  padding: 10px;
  color: #b3b8db;
  display: inline-block;
  background-color: darkred;
  border: 2px solid red;
  border-radius: 10px;
  animation: pulses 1.2s infinite alternate ease-in-out;
}
.hero-words button {
  background-color: #00ffaa;
  color: grey;
  border: none;
  padding: 10px 24px;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
}
.hero-words button:hover {
  background-color: #00cc88;
  box-shadow: 0px 0px 15px rgba(0, 255, 170, 0.4);
  color: white;
}

.wth-cont img {
  width: 300px;
}
.wth-cont video {
  z-index: 2;
  position: relative;
  bottom: 200px;
  width: 105px;
  border-radius: 25px;
}

@keyframes pulses {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (min-width: 768px) {
  .hero {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}

#featurs {
  display: grid;
  grid-template-areas: "card1" "card2" "card3";
  justify-content: center;
  gap: 10px;
  scroll-margin-top: 120px;
}
#featurs img {
  width: 100px;
}
.card1,
.card2,
.card3 {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 255, 204, 0.2);
  border-radius: 15px;
  padding: 30px 20px;
  width: 280px;
  text-align: center;
  color: #cccccc;
  transition: 0.3s ease;
}
.card1:hover,
.card2:hover,
.card3:hover {
  transform: translateY(-10px);
  border-color: #c9fcfd;
  box-shadow: 0 10px 20px rgba(0, 255, 204, 0.1);
}
.card1 p,
.card2 p,
.card3 p {
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
}

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}

@media (min-width: 768px) {
  #featurs {
    grid-template-areas: "card1 card2 card3";
    justify-content: space-around;
  }
}
#prices {
  color: #ffffff;
  margin-top: 50px;
  display: grid;
  grid-template-areas: "price1" "price2" "price3";
  justify-content: center;
  gap: 25px;
  scroll-margin-top: 120px;
}
#prices ul {
  list-style-type: none;
  padding-left: 0;
}

#prices li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
}
#prices p {
  color: #c0c4d6;
}

#prices li::before {
  content: "✔";
  position: relative;
  left: 0;
  top: 0;
  color: #00ffc2;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}
#prices button {
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.price1 button,
.price3 button {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.price1 button:hover,
.price3 button:hover {
  background-color: #ffffff;
  color: #000000;
}
.price2 button {
  width: 85%;
  background-color: #00ffc2;
  color: #000000;
  border: none;
  font-size: large;
}

.price2 button:hover {
  background-color: #00cca0;
  box-shadow: 0 0 15px rgba(0, 255, 194, 0.4);
}
.price1,
.price2,
.price3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161933;
  border-radius: 10px;
}
.price1 {
  grid-area: price1;
}
.price2 {
  grid-area: price2;
  border: 2px solid #00ffaa;
  position: relative;
  padding: 20px;
}
.price2::before {
  content: "Best Seller";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ffaa;
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
}
.price1,
.price3 {
  padding-top: 30px;
  background-color: #0c1024;
  border: 1px solid #232946;
  border-radius: 12px;
  padding: 20px;
}
.price3 {
  grid-area: price3;
}
@media (min-width: 768px) {
  #prices {
    grid-template-areas: "price1 price2 price3";
    justify-content: space-around;
    gap: 10px;
  }
}
#contact {
  margin-top: 50px;
  display: grid;
  grid-template-areas: "Cnumber" "Cmail" "Cform";
  justify-content: center;
  gap: 10px;
  scroll-margin-top: 100px;
}
#contact a {
  text-decoration: none;
  color: #c9fcfd;
}
.Cnumber,
.Cmail {
  width: 300px;

  border-radius: 10px;
  text-align: center;
  background-color: #0c1024;
  border: 1px solid #232946;
}
.Cform {
  background-color: #0c1024;
  border: 1px solid #232946;
  border-radius: 10px;
  text-align: center;
}
.Cnumber {
  grid-area: Cnumber;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9fcfd;
  font-size: larger;
}
.Cnumber img {
  width: 65px;
}

.Cmail {
  grid-area: Cmail;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9fcfd;
  font-size: larger;
}
.Cmail img {
  width: 65px;
}

.Cform {
  grid-area: Cform;
}
.Cform form {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Cform form input {
  width: 80%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #c9fcfd;
}
.Cform form textarea {
  width: 80%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: #c9fcfd;
}
.Cform button {
  border: none;
  background-color: #c9fcfd;
  border-radius: 10px;
  padding: 7px;
  color: black;
}
.Cform button:hover {
  background-color: #61f9fc;
}
@media (min-width: 768px) {
  #contact {
    grid-template-areas: "Cnumber Cmail" "Cform Cform";
    justify-content: space-evenly;
  }
  .Cform {
    height: 500px;
  }
  .Cform form {
    height: 100%;
    justify-content: space-around;
  }
  .Cform form input {
    padding: 15px;
  }
  .Cform form textarea {
    width: 82%;
    height: 35%;
  }
}

#about {
  width: 80%;
  background-color: #0c1024;
  color: #ffffff;
  margin: auto;
  padding: 20px 20px;
  text-align: center;
  border: 1px solid #232946;
  border-radius: 10px;
  margin-top: 50px;
  scroll-margin-top: 90px;
}
#about h2 {
  color: #00ffaa;
  font-size: 32px;
}
#about p {
  color: #c0c4d6;
  max-width: 650px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
  font-size: 18px;
}
footer {
  display: flex;
  margin-top: 20px;
  background-color: #0c1024;
  border-top: 1px solid #232946;
  justify-content: space-around;
  color: #c9fcfd;
  font-size: small;
}
footer h2 {
  display: none;
}
footer a {
  text-decoration: none;
  color: #c9fcfd;
}
footer ul {
  padding-left: 10px;
}

@media (min-width: 768px) {
  #about {
    width: 500px;
  }
  footer {
    font-size: larger;
    align-items: center;
  }
  footer h2 {
    display: block;
    color: #c9fcfd;
  }
}
